NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_DOMAIN=localhost:3000

BG_SECRET_KEY=

DATABASE_URL=postgresql://postgres:pass@host:port/dbname

# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=heylalisalovemelalisalovemelovemehey

# Cloudflare R2 setup
AWS_ACCESS_KEY_ID=aaa
AWS_SECRET_ACCESS_KEY=aaa
AWS_REGION=auto
AWS_BUCKET_NAME=aaa
AWS_ENDPOINT=https://aaa.r2.cloudflarestorage.com


# Set Email Provider to "local" to bypass email sending, anything else to use listmonk creds below
EMAIL_PROVIDER=local

# Listmonk setup
LISTMONK_URL=aaa
LISTMONK_USERNAME=aaa
LISTMONK_PASSWORD=aaa